<div>
	<nav class="navbar navbar-inverse" ng-controller="HeaderController">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	      	Handler
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  	<div class="navbar-text navbar-right">
		  		<div class="row">
		  			<div class="col-md-7">
		  				<span style="font-size:12px;text-align:right">
		  					Pete Festeiro
		  				</span><br/>
		  				<span style="font-size:12px;text-align:right">
	  						Gerente
		  				</span>
		  			</div>
	  				<div class="col-md-2" style="color:#FFF">
	  					<span style="font-size:23px; vertical-align:middle">
							<i class="fa fa-cog"></i>
	  					</span>
	  				</div>
	  				<div class="col-md-1" style="color:#FFF">
	  					<span style="font-size:23px; vertical-align:middle">
							<i class="fa fa-caret-down"></i>
	  					</span>
	  				</div>
		  		</div>
		  	</div>
	  	</div>
	  </div>
	</nav>
	<div id="header-menu" class="container-fluid">
		<div class="container">
			<div class="row">
				<img class="col-md-2" src="images/logo-g.png">
				<fw-menu-item title="Pedidos" icon="fa-shopping-cart" url="/orders" active="getActive('/orders')" class="col-md-2"></fw-menu-item>
				<fw-menu-item title="Produtos" icon="fa-cubes" url="/products" active="getActive('products')" class="col-md-2"></fw-menu-item>
				<fw-menu-item title="Clientes" icon="fa-building" url="/customers" active="getActive('customers')" class="col-md-2"></fw-menu-item>
				<fw-menu-item title="Fornecedores" icon="fa-truck" url="/providers" active="getActive('providers')" class="col-md-2"></fw-menu-item>
				<fw-menu-item title="Equipe" icon="fa-users" url="/team" active="getActive('team')" class="col-md-2"></fw-menu-item>
			</div>
		</div>
	</div>
</div>