<h3>Configurações</h3>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
	      <li role="presentation" ng-class="activeMenu('category')"><a href="#/configAmbiance/category/List">Categoria</a></li>
	      <li role="presentation" ng-class="activeMenu('unit')"><a href="#/configAmbiance/unit/List">Unidade</a></li>
	      <li role="presentation" ng-class="activeMenu('occupation')"><a href="#/configAmbiance/occupation/List">Cargos</a></li>
	    </ul>
	</div>
	<div class="col-md-9">
		<div ng-include="page"></div>
	</div>
</div>