<fw-bread-crumbs items="itemsBreadCrumbs" title="Clientes"></fw-bread-crumbs>
<fw-indicators items="itemsIndicators" ng-if="hasData"></fw-indicators>
<div class="page">
    <fw-page-actions button-title="Novo cliente" button-action="#/customers/add" ng-if="hasData"></fw-page-actions>
    <fw-empty-page title="Você ainda não cadastrou nenhum cliente" button-title="Novo cliente" button-action="/customers/add" ng-if="!hasData"></fw-empty-page>
    <div class="row" ng-if="hasData">
        <div class="col-md-3">
            <div class="panelTitle"><b>Filtros</b></div>
        </div>
        <div class="col-md-9">
            <table ng-table="tableCustomer" class="table">
                <thead>
                    <th>
                        <han-table-header table-params="tableCustomer" title="Cliente"></han-table-header>
                    </th>
                    <th>
                        <han-table-header table-params="tableCustomer" title="Endereço"></han-table-header>
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in $data">
                        <td width="40%" style="text-align: left">
                            {{customer.name}}
                        </td>
                        <td width="60%" style="text-align: left">
                            {{customer.address.street}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>