<fw-bread-crumbs items="itemsBreadCrumbs" title="Equipe"></fw-bread-crumbs>
<fw-indicators items="itemsIndicators" ng-if="hasData"></fw-indicators>
<div class="page">
    <fw-page-actions button-title="Novo usuário" button-action="#/team/add" ng-if="hasData"></fw-page-actions>
    <fw-empty-page title="Você ainda não cadastrou nenhum membro de sua equipe" button-title="Novo membro" button-action="#/team/add" ng-if="!hasData"></fw-empty-page>
    <!-- <table ng-table="tableProduct" show-filter="true" class="table">
        <tr ng-repeat="product in $data">
            <td data-title="'Nome'" sortable="'name'">
                {{product.name}}
            </td>
            <td data-title="'Descrição'" sortable="'description'">
                {{product.description}}
            </td>
            <td data-title="'Preço'" sortable="'price'">
                {{product.price}}
            </td>
            <td data-title="'Unidade'" sortable="'product.unit.name'">
                {{product.unit.name}}
            </td>
            <td data-title="'Categoria'" sortable="'product.category.name'">
                {{product.category.name}}
            </td>
        </tr>
    </table> 
    <div>
        <a type="button" class="btn btn-success" href="#/team/add">Adicionar</a>
    </div>-->
</div>