<div class="fwindicators">
	<div class="row">
		<div class="col-md-7 row" style="border-right:1px solid #ccc;">
			<div class="col-md-3" ng-repeat="indicador in indicadores">
				<div style="text-align: center">
					<span>
						Total de pedidos	
					</span>
				</div>
				<div style="text-align: center">
					<div style="text-align: center">
						<span>
							<i style="font-size:32px;" class="fa fa-shopping-cart"></i>
						</span>
						<span style="font-size:32px;">124</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5 row" style="margin-left:10px;">
			<div class="col-md-4" ng-repeat="indicador in indicadores2">
				<div style="text-align: center">
					<span>
						Pedidos	
					</span>
				</div>
				<div style="text-align: center">
					<div style="text-align: center">
						<span>
							<i style="font-size:32px;" class="fa fa-shopping-cart"></i>
						</span>
						<span style="font-size:32px;">124</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>