<div class="pageActions">
	<div class="row">
		<div class="col-md-3">
			<a type="button" class="btn btn-primary" href="{{buttonAction}}">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				{{buttonTitle}}
			</a>
		</div>
		<div class="col-md-9" style="vertical-align:middle">
			<div class="col-md-7">
				<form class="form-horizontal">
					<div class="form-group">
					    <label class="col-sm-2 control-label">Busca:</label>
					    <div class="col-sm-9">
					    	<input type="text" class="form-control">
					    </div>
					    <div class="col-sm-1 control-label">
					    	<a href=""><i class="fa fa-search"></i></a>
					    </div>
				  	</div>
				</form>
			</div>
			<div class="col-md-3 col-md-offset-2">
				<span>Ordenação: </span>
				<a href="">
					<b>
						A - Z <i class="fa fa-angle-up"></i>
					</b>
				</a>
			</div>
		</div>
	</div>
</div>